.error-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.error-container h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-container{
    width: 250px;
    height: 250px;
}

.fluid-image{
    width: 100%;
    height: auto;
}