header {
  border-bottom: 1px solid #e4e4e4;
  /* border: 2px solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: #fff;
  z-index: 9999999;
}


.header-sticky-banner a{
  background-image: url('https://www.banimode.com/img/cms/020521/1691824841.gif');
  background-position: center;
  background-size: cover;
  height: fit-content;
  background-repeat: no-repeat;
  display: block;
  height: 60px;
}

nav {
  border: 1px solid transparent;
  position: absolute;
  width: 60%;
  top: calc(100% + 1px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: calc(100% + 2px);
  transition: all 0.5s linear;
  height: 100vh;
  z-index: 1000;
  background-color: #fff;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-bar a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #555;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.nav-bar a:hover {
  color: rgb(0, 191, 111);
  background-color: #e9e9e9;
}

.nav-link:global.active {
  border-bottom: 1px solid rgb(0, 191, 111);
  color: rgb(0, 191, 111) !important;
}

.material-symbols-outlined {
  margin: 15px;
  font-size: 30px !important;
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}

.material-symbols-outlined:hover {
  background-color: #bebdbd;
}

.show-menu {
  transform: translateX(-100%);
}

.hide-menu {
  transform: translateX(100%);
}

.shopping-icon {
  display: inline-block;
  font-size: 30px !important;
  padding: 10px;
  border-radius: 8px;
  margin-left: 6px;
  transition: all 0.2s linear;
  cursor: pointer;
  text-decoration: none;
  /* border: 1px solid; */
}

.shop-badge {
  font-size: 14px !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
}
.shopping-icon:hover {
  background-color: #e9e9e9;
}

.shopping-icon:hover + .shop-container {
  visibility: visible;
  opacity: 1;
}

.search-nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* border: 2px solid; */
}

.shop-container {
  position: absolute;
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 8px;
  top: 90%;
  left: 10%;
  z-index: 1000000;
  /* width: 30%; */
  opacity: 0;
  padding: 8px ;
  visibility: hidden;
  transition: all 0.2s linear;
  background-color: white;
}

.shop-container-overflow{
  height: 85vh;
  overflow: auto;
}

.shop-container-empty{
  display: none;
}

.shop-container:hover {
  visibility: visible;
  opacity: 1;
}



@media screen and (min-width: 576px) {
  .ham-menu-box {
    display: none;
  }

  nav {
    position: relative;
    top: 0;
    right: 0;
    height: auto;
    width: fit-content;
    border: 1px solid;
    border: none;
    box-shadow: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .hide-menu {
    transform: translateX(0);
  }

  .show-menu {
    transform: translateX(0);
  }

  .nav-bar a:hover {
    border-bottom: 1px solid rgb(0, 191, 111);
  }

  .nav-bar a {
    margin-top: 8px;
  }

  .fs-sm-6{
    font-size: .9em !important;
  }
}

@media screen and (min-width:992px){
  .shop-container{
    width: 30% !important;
  }
}
